.disclaimer {
    border-bottom: 1px solid rgb(20, 7, 197);
}

.language {
    color: rgb(20, 7, 197);
}

.paragraph p {
    font-size: 20px;
}

.day-title {
    margin: 100px auto 0 auto;
    text-align: center;
    border-bottom: 2px solid green;
    padding-bottom: 10px;
    max-width: 300px;
    font-weight: bold;
    font-size: 30px;
    padding-top: 100px;
}

#page-title {
    text-align: center;
    margin-top: 100px;
    color: #4ED330;
    font-size: 40px;
}

#earth-logo {
    aspect-ratio: 592 / 612;
    width: 180px;
    display: block;
    margin: 100px auto 0 auto;
}

.activity-photo {
    margin: 20px;
}